@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

/* slider bullets styles (hidden html elements) */
.mySwiper .swiper-pagination-bullet {
  width: 50px;
  border-radius: initial;
  -webkit-border-radius: initial;
  -moz-border-radius: initial;
  -ms-border-radius: initial;
  -o-border-radius: initial;
  background-color: white;
  transition: all 2s ease;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  -o-transition: all 2s ease;
}

.mySwiper .swiper-pagination-bullet:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.mySwiper .swiper-pagination-bullet:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0px;
}

.swiper-button-next,
.swiper-button-prev {
  color: white;
}



/* mini slider from main page (categories) */

.mini-slider .swiper {
  width: 100%;
  height: 100%;
}

.mini-slider .swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: green; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.mini-slider .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: 0px;
}

.mini-slider .swiper {
  width: 100%;
  height: 370px;
}

/* remove default arrows */
.mini-slider .swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
}

.mini-slider .swiper-button-prev {
  left: -3px !important;
  background-image: url("/src/assets/images/miniSlider(main)/reshot-icon-arrow-left-CYVEH429PZ.svg") !important;
  background-repeat: no-repeat;

}

.mini-slider .swiper-button-next {
  right: -3px !important;
  background-image: url("/src/assets/images/miniSlider(main)/reshot-icon-arrow-right-LA2EJ39WDT.svg") !important;
  background-repeat: no-repeat;
}

/* ItemsList Component */
.hover-effect:hover {
  transform: scale(1.02);
  transition: 0.1s ease;
}

.hover-effect {
  transition: transform 0.5s ease;
}

/*general title*/
h2{
  @apply relative pl-[26px] text-[30px] font-bold text-[#3C4242] mb-[70px];
}

h2::before{
  content:"";
  position:absolute;
  top:10px;
  left:0;
  border-radius: 10px;
  width:6px;
  height:30px;
  background:#8A33FD;
}